* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.animacion1 {
    animation-duration: 2s;
    animation-delay: 1s;
    animation-name: desvanecer;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 
.animacion2 {
    animation-duration: 2s;
    animation-name: degradado;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.animacion3 {
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animacion4 {
    animation-duration: 2s;
    animation-name: degradado2;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes desvanecer {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        margin-bottom: 40%;
    }
}

@keyframes degradado {
    from {
        background-color: #f0f2f5;
    } to {
        background-color: #4caf50;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
        
    } to {
        opacity: 1;
    }
}

@keyframes degradado2 {
    from {
        background-color: #4caf50;
    } to {
        background-color: #f0f2f5;
    }
}

.oculto {
    display: none;
}

.contenedor {
    background-color: white;

    width: 350px;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

#usuario {
    background-color: #d4edda;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 25px;
    color: #155724;
} 

.campo {
    margin-bottom: 15px;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input {
    width: 100%;

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 5px;
}

.botones {
    display: flex;

    gap: 10px;

    margin-top: 20px;
}

.botones button {
    flex: 1;

    padding: 10px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    font-size: 14px;
}

#btnRegistrar {
    background-color: #4caf50;
    color: white;
}

#btnLogin {
    background-color: #2196f3;
    color: white;
}

#btnCerrarSesion {
    background-color: red;
    color: white;
}

#mensaje {
    margin-top: 20px;

    padding: 10px;

    border-radius: 5px;

    text-align: center;

    display: none;
}

.exito {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

.info {
    background-color: #e2e3e5;
    color: #383d41;
}